<div class="watch-list-wrapper">
    <!-- <h3 *ngIf="movies.length < 1">Carregando...</h3>
    <h3 *ngIf="yetToWatchMovies.length">Filmes para assistir</h3> -->
    <div class="to-watch">
         <app-movie-tile
            *ngFor="let movie of yetToWatchMovies"
            [imageUrl]="movie.poster_path"
            [id]="movie.id"
            [isFav]="teste"
            [name]="movie.title"
            (favClick)="onFavClick(teste)"
        ></app-movie-tile> 
    </div>
    <!-- <h3 *ngIf="watchedMovies.length">Watched</h3>
        <div class="to-watch">
            <app-movie-tile
                *ngFor="let movie of watchedMovies"
                [imageUrl]="movie.image"
                [id]="movie.id"
                [isWatched]="movie.isWatched"
                [isFav]="movie.isFav"
                (favClick)="onFavClick(movie)"
                (watchedClick)="onWatchedClick(movie)"
            ></app-movie-tile>
        </div> -->
</div>
